* {
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

html {
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
}

clearfix::after {
    content:'';
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

div h1 {
    margin:20px;
}

.row {
    padding: 15px 0
}

.col {
    color: white;
    float: left;
    width: calc(100% / 3);
    padding: 15px 10px 15px 0;
}

.col:nth-of-type(3n+3) {
    padding-right: 0;
}

.card {
    background-color: #0F0E17;
    height: 80px;
}

.card img {
    height: 80px;
} 

.card-profile {
    float: left;
}

.card h2{
    font-size: 14px;
}

.card h3, address {
    font-size: 12px;
}

.card address {
    color: blue;
}
