* {
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

html {
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
}

clearfix::after {
    content:'';
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: red;
}

div h1 {
    margin:20px;
}

.row {
    /* padding: 15px; */
    background-color: blueviolet;
}

.col {
    background-color: #0F0E17;
    color: white;
    float: left;
    width: 30%;
    /* padding: 15px 15px; */
}

.card {
    background-color: aqua;
    border: 2px solid black;
}

.card img {
    height: 55px;
} 

.card-profile {
    float: left;
}

.card h2, h3, address {
    font-size: 12px;
}
