* {
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

html {
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
}

clearfix {
    content:'';
    display: block;
    clear: both;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

div h1 {
    margin:20px;
}
